@model List<Recipes.Models.RecipeModel.IndexViewRecipeModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container"> 
    <h2 class="text-center">Препоръчани рецепти</h2>
    <div class="row text-center">
            <div class="recipe-list">
            @foreach (var item in Model)
            {
                <div class="card animate-card">
                    <img src="@item.ImagePath" alt="@item.Title">
                    <h3>@item.Title</h3>
                    <p>@item.Description</p>
                    <p>@item.Category?.Name</p>
                    <a href="@Url.Action("Details", "Home", new { id = item.RecipeId })" class="btn btn-info">Виж повече</a>
                </div>
            }
        </div>
    </div>
</div>

