@model Recipes.Models.Recipe

@{
    ViewData["Title"] = "Delete Recipe";
}

<div class="container">
    <h1>Изтриване</h1>
    <h2>@Model.Title</h2>
    <img src="@Model.ImagePath" alt="@Model.Title" class="book-image">
    <p><strong>Име:</strong> @Model.Title</p>
    <p><strong>Описание:</strong> @Model.Description</p>
    <h3>Сигурни ли сте?</h3>
    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.RecipeId">
        <input type="submit" class="btn btn-danger" value="Delete"/>
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </form>
</div>
